.article {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $color-light;
  font-family: $font-main;
  padding-inline: $main_padding;
  padding-bottom: $main_padding;
  position: relative;

  /**======================
  *         TEMPLATE      *
  =========================**/

  .main {
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1;
    font-size: $font-size-normal;
    line-height: $font-line-height-small;
  }

  &__sections {
    margin-top: $section-spacing-xsmall;
    padding: $spacing-xxs;
  }

  &__section {

    &-title {
      margin-bottom: $spacing-xxs;

      p {
        width: 25rem;
        margin: auto;
        font-size: $font-size-md;
        font-weight: $font-weight-light;
        text-align: center;
        padding-bottom: $spacing-xxxxs;
        line-height: $font-line-height-normal;
        font-style: normal;
      }
    }
  }

  &__title {
    display: flex;
    width: 25rem;
    justify-content: center;
    margin-bottom: $spacing-xxxxxs;
    align-items: center;

    p {
      text-align: center;
      font-style: normal;
      line-height: normal;
      font-weight: $font-weight-light;
      font-size: $font-size-lg;
      max-width: 25rem;
      margin: auto;
    }
  }

  &__meta {
    display: flex;
    width: 25rem;
    justify-content: center;
    align-items: center;
    gap: $spacing-xxxxxs;
    margin-inline: auto;
    margin-bottom: $spacing-xxs;

    &-text {
      font-size: $font-size-xxs;
      font-style: normal;
      font-weight: $font-weight-normal;
      line-height: $font-line-height-normal;
    }

    &-separator {
      background-color: $color-light;
      border-radius: 99rem;
      width: .2rem;
      height: .2rem;
    }
  }

  &__media {
    margin: $spacing-large 0;
    border-radius: $border-radius;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacing-xs;
    text-align: center;
    position: relative;

    &-image {
      width: 100%;
      border-radius: $border-radius;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  &__text {
    font-size: $font-size-txt;
    font-weight: $font-weight-normal;
    padding-inline: .75rem;
    line-height: $font-line-height-normal;
  }
}
