.article {
  &--juror {
      .article__title {
          display: inline-block;
          margin-bottom: $spacing-xxxxxs;
          
          h1 {
              font-weight: $font-weight-light;
              font-size: $font-size-lg;
              max-width: 25rem;
              text-align: center;
          }
      }
  }
}