.article--news {
  .article__section:first-of-type .article__section-title {
    margin-top: 0;
  }

  .article__section-title {
    margin-top: $spacing-large;
  }
}

.article--news-video {
  .article__media.video {
    margin: unset;
  }

  .article__section:first-of-type .article__section-title {
    margin-top: 0;
  }

  .article__section-title {
    margin-top: $spacing-large;
  }

  .article__social {
    margin-top: $spacing-large;
  }
}