<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Must Be The Music - Juror</title>
</head>

<body>
<%= require('html-loader!./status-bar.html') %>
<%= require('html-loader!./header.html') %>
<section class="article article--participant">

    <main class="main">
        <article class="article__content">
            <header class="article__hero">
                <div class="article__title">
                    <p>Jan Nowak</p>
                </div>
                <img alt="Dawid Kwiatkowski" class="article__hero-image" src="./gfx/dawid-kwiatkowski.jpg">

            </header>

            <div class="article__sections">
                <section class="article__section">
                    <div class="article__section-title">
                        <p>Kim jest?</p>
                    </div>
                    <div class="article__text">
                        Olivia Anna Livki urodziła się w Opolu, wychowała w Villingen-Schwenningen w Niemczech. Jej
                        matka (polska piosenkarka) i ojciec (niemiecki inżynier) poznali się w Jordanii. Rodzina
                        zamieszkała w Schwarzwaldzie, gdy Olivia miała 6 lat.
                        W 2004 roku ukończyła Gymnasium am Hoptbühl i po przerwanych studiach reżyserskich
                        przeprowadziła się do Berlina, gdzie w 2008 roku ukończyła studia na kierunkach filmoznawstwo,
                        literatura ogólna i filologia angielska na Wolnym Uniwersytecie Berlina. Od tego momentu pracuje
                        jako muzyk.
                        Jako dziecko uczyła się gry na fortepianie. W wieku 17 lat rozpoczęła naukę gry na gitarze
                        basowej i rozwijanie umiejętności wokalnych. Wśród wczesnych wpływów wymienia afroamerykańskich
                        artystów takich jak Aretha Franklin, John Lee Hooker i Dr. Dre oraz twórców filmowych: Alfreda
                        Hitchcocka, Billy’ego Wildera, Orsona Wellesa czy Stanleya Kubricka.
                        W wieku 16 lat zrealizowała film krótkometrażowy poświęcony Holokaustowi Unbetitelt (“Bez
                        Tytułu“) oparty na pamiętnikach Janusza Korczaka, który był pokazywany i nagradzany m.in. na
                        niemieckich festiwalach filmowych.
                    </div>
                </section>
                <figure class="article__media video">
                    <button aria-label="Odtwórz wideo" class="video__play-btn" type="button">
                        <img alt="" class="video__thumbnail video-preplay" data-vod="7" height="193"
                             src="./gfx/video-thumbnail.jpg">
                        <time class="video__duration" datetime="PT4M24S">04:24</time>
                    </button>
                </figure>
                <section class="article__section">
                    <div class="article__section-title">
                        <p>Twórczość</p>
                    </div>
                    <div class="article__text">
                        W 2009 roku Olivia Anna Livki ukończyła pierwszy materiał demo The Smiling Face Of Progress oraz
                        wyreżyserowała i wyprodukowała wideoklipy do piosenek Hologram (w technice animacji stop-motion)
                        oraz “Girl vs. City” (zapis występu live). W lipcu tego samego roku wystąpiła z koncertami w
                        Berlinie i Nowym Jorku. W 2010 roku powstały pierwsze nagrania studyjne do debiutanckiego
                        albumu. Aby go w pełni sfinansować, wzięła udział w polskim talent show dla muzyków z autorskimi
                        piosenkami, wzbudzając entuzjazm zarówno u jurorów, mediów, jak i publiczności. Wiele mediów
                        nazwało ją „objawieniem” oraz „objawieniem alternatywnego popu”. Zapis występu artystki w
                        programie stał się internetową sensacją.
                        W ciągu kilku dni jej wideoklipy Hologram i Tennis Rackets odtworzono razem około 300 000 razy.
                        W 2011 roku Livki założyła w Berlinie niezależną wytwórnię płytową LIVV Music. 9 listopada
                        zagrała jako support przed koncertem Lenny’ego Kravitza w Warszawie. Tego samego dnia ukazał się
                        debiutancki concept-album The Name Of This Girl Is. Materiał został w całości skomponowany,
                        zaaranżowany i wyprodukowany przez artystkę. Miksy wykonali amerykańscy producenci Patrick
                        Dillett i Ron Allaire, a oprawę graficzną według pomysłu Livki stworzył szkocki rysownik Iain
                        Sommerville. Na płycie znalazły się m.in. trzy utwory z pierwszych materiałów demo i dwa
                        wykonane w telewizyjnym talent show. Album zebrał pochlebne recenzje wśród krytyków i
                        publiczności. Dystrybucja była prowadzona przez stronę internetową artystki. Karolina
                        Korwin-Piotrowska opisywała entuzjastycznie Livki i The Name of This Girl Is w książce Bomba.
                        Alfabet polskiego szołbiznesu (The Facto 2013). Piosenka z albumu Tennis Rackets znalazła się na
                        ścieżce filmowej filmu Big Love (2012).
                        W lipcu 2012 roku Olivia Anna Livki podpisała kontrakt licencyjny z wytwórnią EMI, w tym samym
                        roku wydając rozszerzoną wersję debiutu The Name of This Girl Is – Extended.
                    </div>
                </section>
            </div>
        </article>
    </main>
</section>
</body>

</html>